.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.top_btn{
    display: flex;
    gap: 32px;

}

.contact_from{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 15px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
 

}
.form_control input{ 
    height: 40px;
    padding: 0 8px;
}